<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3> This is my AppCpmonent</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-successful-alert></app-successful-alert>
      <hr>
      <app-warning-alert></app-warning-alert>
      <hr>
      <app-username></app-username>
      <hr>
      <app-details></app-details>
    </div>
  </div>
</div>
<div class="container">
  <app-cookpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cookpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement] = "serverElement">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
          </p>
      </app-server-element>
    </div>
  </div>
</div>

